<div class="page">
    <h3>Change Password Form</h3>
    <div class="form">
        <form class="login-form" [formGroup]="adminChangePasswordForm" (ngSubmit)="changePassword()">
            <span *ngIf="newPassword && newPassword.invalid && newPassword.touched">This password is invalid</span>
            <input type="password" placeholder="new password" formControlName="newPassword" />
            <span *ngIf="conNewwPassword && conNewwPassword.invalid && conNewwPassword.touched">This password is invalid</span>
            <input type="password" placeholder="confirm new password" formControlName="conNewwPassword" />

            <button type="submit"  [disabled]="!adminChangePasswordForm.valid">change password</button>
        </form>
    </div>
</div>