<div class="whole-container">
  <div class="top-container">
      <div class="brand-name">
          <div class="logo-container">
              <img src="/assets/chef1.png" width="80" height="80">
          </div>
          <div class="brand_name_container">
              <p class="brand_name_text">KitchenStory</p>
          </div>
          <div class="clear"></div>
      </div>
      <div class="login-container">

          <button type="button" class="btn btn-outline-warning login_button" routerLink="login">Login</button>
          
          <div class="clear"></div>
      </div>
  </div>
  <div class="clear"></div>
  <div class="middle-container">
  <router-outlet></router-outlet>

</div>
</div>