@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.whole-container {
    width: 80%;
    margin: 0 auto;
}

.top-container {

    height: 85px;
    background-color: antiquewhite;
    border-bottom: 2px solid chocolate;
}
.middle-container{
    margin-top: 10px;
    border-radius: 0.5rem;
   background-color: rgb(255, 249, 241); 
}

.logo-container {
    height: 80px;
    width: 15%;
    float: left;
    display: inline;
}

.brand_name_container {
    width: 85%;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    height: 80px;
    float: left;
    display: table;
}

.brand_name_text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.brand-name {
    width: 50%;
    float: left;
    display: inline;
}

.login-container {
    width: 50%;
    float: right;
    display: inline;
}

.clear {
    clear: both;
}

.login_button {
    margin-top: 3%;
    float: right;
    width: 15%;

}

.login-text {
    width: 85%;
    display: table;
    float: right;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.login-text p {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 5%;
}

.food-item-list {
    height: 1000px;
    width: 80%;
    display: inline;
    float: left;
   /*background-color: bisque;*/
}

.cart-list {
    height: max-content;
    width: 20%;
    display: inline;
    float: right;
    /*border-left: 2px solid #ca1515;
    background-color: coral;*/
}
.cart-list div {
    margin-top: 1rem;
    text-align: center;
}